<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - منوساز</title>
    <link rel="stylesheet" href="~/lib/adminlte/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/bootstrap-rtl.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/css/jquery-ui.min.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    منوساز
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Manage">مدیریت</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MenuTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/adminlte/js/jquery-1.11.0.js"></script>
    <script src="~/lib/adminlte/js/bootstrap.js"></script>
    <script src="~/js/jquery.mjs.nestedSortable.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/js/jquery-ui.min.js" asp-append-version="true"></script>  
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
