@model MenuTest.ViewModels.EditableMenu
@{
    ViewData["Title"] = "مدیریت";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>فهرست انتخاب</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <form method="POST">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="panel panel-default">
                <div class="panel-body">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
            </div>
            <ol class="sortable">
                <li id="menuItem-1">
                    <div>Some content</div>
                </li>
                <li id="menuItem-2">
                    <div>Some content</div>
                    <ol>
                        <li id="menuItem-3"><div>Some sub-item content</div></li>
                        <li id="menuItem-4"><div>Some sub-item content</div></li>
                    </ol>
                </li>
                <li id="menuItem-5"><div>Some content</div></li>
            </ol>
        </form>
        
    </div>
</div>