@model MenuTest.ViewModels.EditableMenu
@{
    ViewData["Title"] = "مدیریت";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>فهرست انتخاب</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <form method="POST" id="menuEditorForm">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-right" style="padding-top: 5px;"> 
                        منو
                    </h4>
                    <div class="pull-left">
                        <button type="button" id="btnSaveEditedMenu" class="btn btn-success">ذخیره</button>
                    </div>
                </div>
                <div class="panel-body">
                    <ol class="sortable ui-sortable mjs-nestedSortable-branch mjs-nestedSortable-expanded">
                        <li style="display: list-item;" class="webo-menu-item mjs-nestedSortable-branch mjs-nestedSortable-expanded" id="menuItem_0" data-foo="bar">
                            <div class="menuDiv panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        مورد #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label asp-for="Text[0]" >نام</label>
                                            <input asp-for="Text[0]" class="menu-item-name form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Links[0]">نشانی اینترنتی</label>
                                            <input asp-for="Links[0]" class="menu-item-link form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CssClasses[0]">کلاس CSS</label>
                                            <input asp-for="CssClasses[0]" class="menu-item-css form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <ol>
                            <li style="display: list-item;" class="webo-menu-item mjs-nestedSortable-branch mjs-nestedSortable-expanded" id="menuItem_1" data-foo="baz">
                            <div class="menuDiv panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                        مورد #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label asp-for="Text[1]">نام</label>
                                            <input asp-for="Text[1]" class="menu-item-name form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Links[1]">نشانی اینترنتی</label>
                                            <input asp-for="Links[1]" class="menu-item-link form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CssClasses[1]">کلاس CSS</label>
                                            <input asp-for="CssClasses[1]" class="menu-item-css form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </li>
                        </ol>
                        </li>
                        <ol>
                        </ol>
                        <li class="webo-menu-item mjs-nestedSortable-leaf mjs-nestedSortable-branch mjs-nestedSortable-expanded" id="menuItem_2">
                        <div class="menuDiv panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                        مورد #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label asp-for="Text[2]">نام</label>
                                            <input asp-for="Text[2]" class="menu-item-name form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Links[2]">نشانی اینترنتی</label>
                                            <input asp-for="Links[2]" class="menu-item-link form-control">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CssClasses[2]">کلاس CSS</label>
                                            <input asp-for="CssClasses[2]" class="menu-item-css form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </form>
        
    </div>
</div>