@font-face {
  font-family: 'BYekan';
  src: url('../css/fonts/BYekan.eot?#') format('eot'),  /* IE6?8 */
          url('../css/fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url('../css/fonts/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
  }
@font-face {
font-family: 'BKoodak';
src: url('../css/fonts/BKoodakBold.eot?#') format('eot'),  /* IE6?8 */
    url('../css/fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../css/fonts/BKoodakBold.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
font-family: 'BBardiya';
src: url('../css/fonts/BBardiya.eot?#') format('eot'),  /* IE6?8 */
        url('../css/fonts/BBardiya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../css/fonts/BBardiya.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
body {
  font-family: 'BKoodak' !important;
  font-size: 14px; 
}
