<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#menu-item-select-list" href="#customLinkItem" aria-expanded="false" aria-controls="collapseOne1">
            پیوند دلخواه
            </a>
        </h4>
    </div>
    <div id="customLinkItem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" id="core-custom-link-item">
            <input type="checkbox" class="webo-menu-item-checkbox" data-text="test" data-link="www.google.com" data-header="پیوند دلخواه" checked>
            <input type="checkbox" class="webo-menu-item-checkbox" data-text="test2" data-link="www.google2.com" data-header="2پیوند دلخواه" checked>
            <div class="form-group">
                <label>متن</label>
                <input class="menu-item-name form-control">
            </div>
            <div class="form-group">
                <label>نشانی اینترنتی</label>
                <input class="menu-item-link form-control">
            </div>
        </div>
        <div class="panel-footer text-left">
            <button type="button" class="btn-add-menu-item btn btn-info" data-items-wrapper-id="#core-custom-link-item" >افزودن</button>
        </div>
    </div>
</div>